<div class="container">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Component Library</h2>
      <span fxFlex></span>
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button>
          <mat-icon>library_add</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>loop</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <div class="layout"  fxLayout="row" fxLayoutAlign="start center" fxFlexFill >
  <div *ngFor="let lib of componentlibs">
    <mat-card >
      <mat-card-header>
        <mat-text-avatar mat-card-avatar name="{{lib.name}}" avatar='avatar-circle-sm' ></mat-text-avatar>
        <mat-card-title>{{lib.name}}</mat-card-title>
      <mat-card-subtitle>  {{lib.description}}</mat-card-subtitle>
        </mat-card-header>
      <mat-card-actions>
        <button mat-button>Actions</button>
        <button mat-button>Environment</button>
      </mat-card-actions>
    </mat-card>
  </div>
  </div>
</div>