<div fxFlex="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="header">
  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="header-label">GTAF.IO</div>
  <span class="spacer"></span>
  <span class="spacer"></span>
  <div> Project :
    <button mat-button [matMenuTriggerFor]="menu">{{selectedproject.name}} <mat-icon>arrow_drop_down</mat-icon></button>
    <mat-menu #menu="matMenu" >
      <button mat-menu-item  (click)="selectedMenu(project)" *ngFor="let project of projects" >{{project.name}}</button>    
    </mat-menu>
  
  </div>
  
  <button mat-icon-button >
    <mat-icon>person</mat-icon>
  </button>
</div>