.header {
    padding: 10px 20px;
    padding-left: 7px;
    color: #fff;
    background: #3946a1;
	background: -webkit-linear-gradient(to right, #7bc3f6, #3946a1);
	background: linear-gradient(to right, #7bc3f6, #3946a1);
	background-repeat: no-repeat;
	background-size: cover;
	
  }
.header-label{
  font-size: 18px;
    margin-right: 10px;
    font-weight: 500;
}