<div class="container">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
     
      <span fxFlex></span>
        <div fxLayout="row" fxLayoutAlign="end" >
          <button mat-icon-button>
            <mat-icon>library_add</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>loop</mat-icon>
          </button>
            <button mat-icon-button>
              <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
  </mat-toolbar>
  <div class="step-layout">
  <perfect-scrollbar #perfectScroll style="max-width: 600px; max-height: 480px;" >
  <div class="step-container" fxLayout="column" >
    <div cdkDropList class="step-list" (cdkDropListDropped)="drop($event)">
      <div class="step" *ngFor="let step of teststeps" cdkDrag>
        Step {{step.id}}. {{step.name}}
        <div>
          <mat-icon mat-list-icon>edit</mat-icon>
          <mat-icon mat-list-icon >delete_outline</mat-icon>  
        </div>
      </div>

    </div>
  </div>
  </perfect-scrollbar>
</div>
</div>
