.step-layout {
  height: 470px;
}

.step-container {
  height: 470px;
}
mat-toolbar {
  border-bottom: 1px solid #eee;
  height: 50px;
  h2 {
    font-size: 16px;
    margin-left: 10px;
  }
  .mat-icon {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }
}
.step-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px #ccc;

  display: block;
  background: white;
  border-radius: 4px;

}

.step {
  font-family: cursive;
  font-size: 12px;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;

  mat-icon {
    font-size: 18px;
    visibility: hidden;
    cursor: pointer;
  }

}
.step:hover mat-icon {
  visibility: visible;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
