<h1 mat-dialog-title appDraggableDialog>Test Step</h1>
<!-- <perfect-scrollbar> -->
<div mat-dialog-content>
  <p style="float: right;">
    <mat-slide-toggle>Enabled</mat-slide-toggle>
  </p>
  <p *ngIf="data.id">
    <mat-form-field>
      <input matInput disabled="true" placeholder="id" [(ngModel)]="data.id">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-select [formControl]="frmCtrl" placeholder="Action" #singleSelect [(ngModel)]="data.action"
        (selectionChange)="OnSelectionChange($event)">
        <mat-select-search [formControl]="frmFilterCtrl"></mat-select-search>
        <mat-option *ngFor="let action of filteredActions | async" [value]="action">
          {{action.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width:100%">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let tag of data.tags" [selectable]="selectable" [removable]="removable"
          (removed)="remove(tag)">
          {{tag}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="Tags..." [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field style="width:100%">
      <input matInput placeholder="Step Description" [(ngModel)]="data.name"> 
        </mat-form-field>
      </p>
      <p style="background:aliceblue" *ngFor="let input of data.input">
        <button mat-icon-button (click)="removeInputfield(input)" >
          <mat-icon style="font-size:20px; height:20px;width:20px"><mat-icon>remove_circle_outline</mat-icon></mat-icon>
        </button>
        <mat-form-field style="width:30%">
          <input matInput placeholder="@input" [(ngModel)]="input.key" >
        </mat-form-field>
        <mat-form-field style="width:50%">
          <textarea  matInput placeholder="@value" [(ngModel)]="input.value" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5> </textarea>
        </mat-form-field>
      </p>
      <p style="background:whitesmoke" *ngFor="let validate of data.validation">
        <button mat-icon-button (click)="removeValidatefield(validate)" >
          <mat-icon style="font-size:20px; height:20px;width:20px"><mat-icon>remove_circle_outline</mat-icon></mat-icon>
        </button>
        <mat-form-field style="width:30%">
          <input matInput placeholder="@validate" [(ngModel)]="validate.key" >
        </mat-form-field>
        <mat-form-field style="width:50%">
          <textarea  matInput placeholder="@value" [(ngModel)]="validate.value" matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5 > </textarea>
        </mat-form-field>
      </p>

</div>
<!-- </perfect-scrollbar> -->
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="AddInput()">Add Input Field</button>
  <button mat-button (click)="AddValidation()">Add Validation</button>
  <button mat-button [mat-dialog-close]='data' cdkFocusInitial> {{ data.id? 'Update':'Add'}} </button>
</div>