mat-form-field {
    //width: 100%;
    padding:10px;
    padding-top:1px;
    padding-bottom: 1px;
    
  }
  mat-select-search {overflow-x: hidden;}

  mat-dialog-content{
    font-size: 12px;
  }
  .mat-chip {
    // border-radius: 3px !important;
   // font-size: 12px;
    padding: 3px !important;
    transform: scale(0.8);
  }
  p{
    padding:2px;
  }