<div id ="container">
  <!--<div class="mat-elevation-z4"> -->
    <mat-sidenav-container>
    <mat-sidenav #suitepanel mode="side" class="mat-elevation-z2" mode="side" opened="true" >
      <app-design-test-suite (SelectedSuite)='onSelectedSuite($event)'></app-design-test-suite>
    </mat-sidenav> 
     
			<div  fxLayout="row" style = "height:100%">
				<div  class="mat-elevation-z4" fxFlex=60>	
        <app-design-test-case (SelectedTest) ="onSelectedTest($event)" [suitepanel]="suitepanel" [suite]="selectedSuite" [testcases]="testcases"></app-design-test-case>      
        </div>
        <div  class="mat-elevation-z4" fxFlex=40 style="height:100%">	
          <app-design-test-step [teststeps]="teststeps" [testcase]="selectedTest"></app-design-test-step>
        </div>
    
    </div>
    </mat-sidenav-container> 
    <!---- </div> -->
</div>
