  <app-toolbar [sidenav]="leftSidenav" [projects]="projects"></app-toolbar>
  
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #leftSidenav mode="side" opened>
      <app-sidemenu></app-sidemenu> 
      </mat-sidenav>
      <mat-sidenav-content [@onMainContentChange]="onSideNavChange ? 'open': 'close'">
        <div class="main_content" >
          <perfect-scrollbar  class="scroll-container" [config]="config" [scrollIndicators]="true"  >
          <div class="scrollable-content">
            <router-outlet></router-outlet>          
          </div>
          </perfect-scrollbar>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>