<div class="ts-inner-container">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
      
      <button mat-icon-button (click)="ToggleSuitePanel()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2 *ngIf="suite">{{suite.name}}</h2>

      <span fxFlex></span>
           
        <div fxLayout="row" fxLayoutAlign="end" >
          
            <button mat-icon-button >
              <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
  </mat-toolbar>
  <div class="ts-content" fxLayout="column" >
    <form>
      <mat-form-field>
        <input
          type="text"
          matInput
          placeholder="search"
          formControlName="username"
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
      <div class="messages-container" *ngIf="testcases">
        <mat-list dense>
          <mat-list-item (click)="SelectTest(test)" *ngFor="let test of testcases">
            <h3 mat-line>{{ test.name }}</h3>
            <p mat-line>{{ test.description }}</p>
            <button mat-icon-button (click)="deletetest(test.id)">
              <mat-icon class="mat-12">delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
        </div>
      </div>
</div>
  

<mat-menu #tsMenu="matMenu">
  <button mat-menu-item>
    <mat-icon> account_circle</mat-icon>
    <span> Group ts information </span>
  </button>
  <button mat-menu-item >
    <mat-icon> volume_mute</mat-icon>
    <span> Group announcement </span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item >
    <mat-icon> clear_all</mat-icon>
    <span> Clear ts history </span>
  </button>
</mat-menu>


