<div class="ts-container">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
      <button mat-icon-button (click)="ToggleSuitePanel()">
        <mat-icon>menu</mat-icon>
      </button>
      <h2 *ngIf="suite">Suite: {{ suite.name }}</h2> 
      <small *ngIf="suite"> ({{testcases.length}} Tests.)</small>
      <span fxFlex></span>
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button>
          <mat-icon>play_circle_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="openDialog()">
          <mat-icon>library_add</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>loop</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <div class="tests-layout" fxLayout="column">
    <form>
      <mat-form-field>
        <input #testsearch type="text" matInput placeholder="search" />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
    <perfect-scrollbar #perfectScroll>
      <div class="test-container" *ngIf="testcases">
        <mat-selection-list #suites [multiple]="false" class="test-cases">
          <mat-list-option checkboxPosition="before" (click)="SelectTest(test)"
            *ngFor="let test of testcases | filter: testsearch.value">
            <mat-icon mat-list-icon (click)="editTest(test)">edit</mat-icon>
            <mat-icon mat-list-icon (click)="deleteTest(test)">delete_outline</mat-icon>
            <mat-icon mat-list-icon (click)="copyTest(test)">file_copy</mat-icon>
            <div matLine>
              <div class="id">{{test.id}}.</div>

              <mat-chip-list style="float:right" *ngFor="let tags of test.tags">
                <mat-chip color="primary" selected>{{ tags}} </mat-chip>
              </mat-chip-list>

            </div>
            <h3 matLine class="name" [ngStyle]="{'text-decoration': test.active?'none':'line-through','color': test.active?'black':'grey'}"> {{test.name}}
            </h3>
            <p matLine class="desc"> {{test.description}} </p>
            <mat-divider></mat-divider>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </perfect-scrollbar>
  </div>
</div>

<mat-menu #tsMenu="matMenu">
  <button mat-menu-item>
    <mat-icon> Delete Selected</mat-icon>
    <span> Delete Selected Tests </span>
  </button>
  <button mat-menu-item>
    <mat-icon> Run Selected</mat-icon>
    <span> Run Selected Tests. </span>
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item>
    <mat-icon> clear_all</mat-icon>
    <span> Clear ts history </span>
  </button>
</mat-menu>