<div fxLayout="column" fxLayoutAlign="center center" class="container" id="container">
  <div class="form-container sign-up-container">
     <mat-card style="padding-top: 15px;">
        <mat-card-title>Register</mat-card-title>
        <mat-card-content>
          <form [formGroup]="form">
            <p>
              <mat-form-field>
                <input type="text" matInput placeholder="First Name" formControlName="firstname" />
              </mat-form-field>
              <mat-form-field>
                <input type="text" matInput placeholder="Last Name" formControlName="lastname" />
              </mat-form-field>
              <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email" />
              </mat-form-field>

              <mat-form-field>
                <input type="text" matInput placeholder="Username" formControlName="username" />
              </mat-form-field>

              <mat-form-field>
                <input type="password" matInput placeholder="Password" formControlName="password" />
              </mat-form-field>

              <button class="btn btn-primary mt-2 mx-auto" type="submit">
                Register
              </button>
            </p>
          </form>
        </mat-card-content>
      </mat-card>
  </div>

  <div class="form-container sign-in-container">
    <mat-card style="box-shadow: none;">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Username" formControlName="username" />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="password" />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <button class="btn btn-primary mt-2 mx-auto" type="submit">
              Login
            </button>
          </p>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>CHERRY</h1>
        <p>
          A Next Generation,<br />
          Test Automation Framework.
        </p>
        <button class="ghost" id="signIn">LOGIN</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>CHERRY</h1>
        <p>
          A Next Generation,<br />
          Test Automation Framework.
        </p>
        <button class="ghost" id="signUp">REGISTER</button>
      </div>
    </div>
  </div>
</div>