<div class="container">
  <mat-toolbar>
    <div class="toolbar" fxLayout="row" fxLayoutAlign="start center" fxFlexFill>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h2>Users</h2>
      <span fxFlex></span>
      <div fxLayout="row" fxLayoutAlign="end">
        <button mat-icon-button>
          <mat-icon>library_add</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>loop</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <div class="layout" fxLayout="column">
  </div>
</div>